@keyframes slideInFromBottom {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

nav,
.content {
    animation: 1s ease-in 0s 1 fadeIn;
}