<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes", target-densitydpi=device-dpi />
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="description" content = "{{.Site.Params.description}}">

    <meta keywords="web, developer, fullstack, frontend, backend, laravel, c++, cms">
    <meta name="theme-color" content="#BA3B61" />
    
    <title>{{.Site.Params.title}}</title>

    <!-- External stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" media="none" onload="if(media!='all')media='all'"/>
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css" />
    
    <!-- Internal stylesheets -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/style.css" type="text/css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/animations.css" type="text/css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/vanillabox.min.css" type="text/css">
    
    <!-- External libraries -->
    <script src="https://cdn.jsdelivr.net/npm/cash-dom@1.3.5/dist/cash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gumshoe/3.5.0/js/gumshoe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>

    <script type="text/javascript" src="{{.Site.BaseURL}}/js/vanillabox.min.js"></script>

</head>